<div class="page-line"></div>
<div class="footer-image-container">
  <img
    src="https://uploads-ssl.webflow.com/5acebf1a4573a3e71b787492/5f526d50cfde214973f97208_footer-image.png"
    loading="lazy"
    alt=""
    class="footer-image"
  />
</div>
<div class="footer-new">
  <div class="footer-links">
    <div class="footer-section">
    <div class="footer-section">
      <div class="footer-section-heading">Connect with us:</div>
      <div class="footer-section-items">
    
        <a
          href="https://www.facebook.com"
          class="footer-section-item-link"
          >Facebook</a
        >,
        <a
          href="mailto:hello@B-log-B.com"
          class="footer-section-item-link"
          >email</a
        >
      </div>
    </div>
  </div>
</div>
</div>
</div>