<div class="navbar-default">
  <div class="navbar-new">
    <div
      data-w-id="e5774579-0b03-f1e7-8232-32f5f9e82594"
      class="nav-menu-close-div"
    ></div>
    <div class="header-container-new">
      <div class="header-navbar-new">
        <div class="header-logo-new">
          <a
            href="https://usepastel.com/"
            class="header-logo-link w-inline-block"
            ><img
              src="https://uploads-ssl.webflow.com/5acebf1a4573a3e71b787492/5f4d5ee6fc3c036ef308cc7c_Pastel-logo-svg.svg"
              loading="lazy"
              alt=""
              class="image-28"
          /></a>
        </div>
        <div class="navbar-navigation-buttons">
          <a href="/" class="navbar-button w-button">Home</a
          ><a href="/news" class="navbar-button w-button">Blogs</a
          ><a href="/contact" class="navbar-button w-button">Contact</a
          ><a href="/login" class="navbar-button w-button">Log In</a>
        </div>

        <div class="navbar-mobile-menu">
          <div
            data-w-id="68ebb920-d9c5-7ee9-b43c-94442f5d6033"
            class="nav-menu-button"
          >
            <div
              data-w-id="b390949d-7372-d7b5-9fc7-cac1b6f7d099"
              class="line"
            ></div>
            <div
              data-w-id="f073ca12-ba20-f517-4178-ba318846790f"
              class="line"
            ></div>
            <div
              data-w-id="e2ce9c53-c04d-f946-1de2-accbd90b368d"
              class="line"
            ></div>
          </div>
          <div
            data-w-id="130e38ae-088d-3bb8-122e-3d72da858f80"
            class="nav-menu-content"
          >
            <div class="nav-menu-item">
              <a href="/" class="nav-menu-link w-inline-block"
                ><img
                  src="https://uploads-ssl.webflow.com/5acebf1a4573a3e71b787492/5f4d800c886b61901dd6551f_menu-icon-arrow.svg"
                  loading="lazy"
                  alt=""
                  class="nav-menu-item-image"
                />
                <div class="nav-menu-item-text">Home</div></a
              >
            </div>
            <div class="nav-menu-item">
              <a href="/news" class="nav-menu-link w-inline-block"
                ><img
                  src="https://uploads-ssl.webflow.com/5acebf1a4573a3e71b787492/5f4d801beece0b1601b30062_menu-icon-dollar.svg"
                  loading="lazy"
                  alt=""
                  class="nav-menu-item-image"
                />
                <div class="nav-menu-item-text">Blogs</div></a
              >
            </div>
            <div class="nav-menu-item">
              <a href="/contact" class="nav-menu-link w-inline-block"
                ><img
                  src="https://uploads-ssl.webflow.com/5acebf1a4573a3e71b787492/5f4d808db4b17d3bd8ea6c38_menu-icon-smiley.svg"
                  loading="lazy"
                  alt=""
                  class="nav-menu-item-image"
                />
                <div class="nav-menu-item-text">Contact</div></a
              >
            </div>
            <div class="nav-menu-item">
              <a href="/login" class="nav-menu-link w-inline-block"
                ><img
                  src="https://uploads-ssl.webflow.com/5acebf1a4573a3e71b787492/5f4d7ffcec5bc3c09936f449_menu-icon-star.svg"
                  loading="lazy"
                  alt=""
                  class="nav-menu-item-image"
                />
                <div class="nav-menu-item-text">Log In</div></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
