<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Candal|Lora"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/creare(users).css" />
    <title>Add User</title>
    <body>
      <header>
        <div class="logo">
          <h1 class="logo-text"><span>Blog</span>Page</h1>
        </div>
        <form action="/register" method="POST"></form>
        <i class="fa fa-bars menu-toggle"></i>
        <ul class="nav">
          <li>
            <a href="#">
              <i class="fa fa-user"></i>
              Urtaa
              <i class="fa fa-chevron-down" style="font-size: 0.8em"></i>
            </a>
            <ul>
              <li><a href="/" class="logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </header>
      <div class="admin-wrapper">
        <div class="left-sidebar">
          <ul>
            <li>
              <a href="/indextopics"><i class="fa fa-user"></i>Manage Posts</a>
            </li>
            <li>
              <a href="/indexusers"><i class="fa fa-user"></i>Manage Users</a>
            </li>
          </ul>
        </div>
        <!-- Admin Content -->
        <div class="admin-content">
          <div class="button-group">
            <a href="/creare" class="btn btn-big">Add User</a>
            <a href="/admin" class="btn btn-big">Manage Users</a>
          </div>
        </div>
      </div>
    </body>
  </head>
</html>
