<!DOCTYPE html>
<html alng="en">
  <header>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Blog Page</title>
    <link rel="stylesheet" href="css/blogPage2.css" />
  </header>
  <body>
    <ul>
      <img
        src="https://uploads-ssl.webflow.com/5acebf1a4573a3e71b787492/5f4d5ee6fc3c036ef308cc7c_Pastel-logo-svg.svg"
        loading="lazy"
        alt=""
        class="image-28"
      />

      <li>
        <a class="active" href="https://www.youtube.com/watch?v=l_s0sBhMprU"
          >Blog</a
        >
      </li>
      <li class="news"><a href="/news">News</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/">Home</a></li>
      <li><a class="login" href="/login">Login</a></li>
    </ul>

    <div class="footer-image-container">
      <img
        src="https://uploads-ssl.webflow.com/5acebf1a4573a3e71b787492/5f526d50cfde214973f97208_footer-image.png"
        alt=""
      />
    </div>

 <div id="doubleBack">
              <h5>
          <div class="w3-content w3-container w3-padding-64" id="about">
            <h6 class="w3-center">ABOUT ME</h6>
            <p class="w3-center"><em>I love photography</em></p>
            <p>We have created a fictional "personal" website/blog, and our fictional character is a hobby photographer. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
              qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </h5>
          <h4>
          <p class="w3-large w3-center w3-padding-16">Im really good at:</p>
          <p class="w3-wide"><i class="fa fa-camera"></i>Photography</p>
          <div class="w3-light-grey">
            <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:90%">90%</div>
          </div>
          <p class="w3-wide"><i class="fa fa-laptop"></i>Web Design</p>
          <div class="w3-light-grey">
            <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:85%">85%</div>
          </div>
          <p class="w3-wide"><i class="fa fa-photo"></i>Photoshop</p>
          <div class="w3-light-grey">
            <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:75%">75%</div>
          </div>
      </h4>
      <h3>
        <div class="w3-row w3-center  w3-padding-15">
          <div class="w3-quarter w3-section ">
            <span class="w3-large">Follow Us</span><br>
            Facebook:Pastel
          </div>
          <div class="w3-quarter w3-section">
            <span class="w3-large">Phone</span><br>
            +97688165624(Mongolia)
          </div>
          <div class="w3-quarter w3-section">
            <span class="w3-large">About Us</span><br>
            Since 2020, Blog website
        </div>
        </h3>
      </div>
   

    <script>
      function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
  }
  window.onclick = function(e) {
    if (!e.target.matches('.dropbtn')) {
    var myDropdown = document.getElementById("myDropdown");
      if (myDropdown.classList.contains('show')) {
        myDropdown.classList.remove('show');
      }
    }
  } 
    </script>
      </body>
</html>