<!DOCTYPE html>
<html alng="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Blog Page</title>
        <link rel="stylesheet" href="css/Geisha-Japan(more).css">
    </head>
    <body> 
        <ul>
            <li><a class="#active" href="/blog">Blog</a></li>
            <li class="news"><a href="/news">News</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/">Home</a></li>
          <li> <a class="login" href="/login">Login</a></li>
          </ul>

    <div class="blog-post">
            <div class="blog-post"__img>
                <img src="photos/Geisha-Japan1.jpg"  alt="">
            </div>
            <div class="blog-post"__img>
                <img src="photos/Geisha1.jpg"  alt="">
            </div>
            <div class="blog-post__info">
                <div class="blog-post__date">
                    <span>Monday</span>
                    <span>Match 8 2021</span>
                </div>
                <h1 class="blog-post__title">Geisha in Japan</h1>
                <p class="blog-post__text">The iconic geisha is a perfect example of the artistry of Japanese culture.
                     Geisha are the careful keepers of a centuries old form of entertainment.These performing artists<br> are held in very high esteem in Japanese culture, and it is considered a great honor to be one. Geisha undergo very 
                     strict training in the traditional Japanese arts for many years to become the perfect entertainers 
                     and living works of art. In fact, training to become a geisha takes as long as it takes to become a doctor.</p>
                <a href="/news" class="blog-post__cta">Back</a>
            </div>
        </div>   
 
        <script>  </script>
    </body>
</html>
