<!DOCTYPE html>
<html alng="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Blog Page</title>
        <link rel="stylesheet" href="css/Japanese Arhichektur.css">
    </head>
    <body> 
        <ul>
            <li><a class="#active" href="/blog">Blog</a></li>
            <li class="news"><a href="/news">News</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/">Home</a></li>
          <li> <a class="login" href="/login">Login</a></li>
          </ul>

    <div class="blog-post">
            <div class="blog-post"__img>
                <img src="photos/Matsumoto-Castle.jpg"  alt="">
            </div>
            <div class="blog-post"__img>
                <img src="photos/Arhichektur japanese.jpg"  alt="">
            </div>
            <div class="blog-post__info">
                <div class="blog-post__date">
                    <span>Tuesday</span>
                    <span>Match 9 2021</span>
                </div>
                <h1 class="blog-post__title">Japanese Architecture</h1>
                <p class="blog-post__text">The traditional architecture in ancient Japan showcases the craftsmanship and beauty of the culture. A perfect symbol of this is Matsumoto's Castle. Once the seat of the Matsumoto domain and located in the city of Matsumoto, this 400-year-old castle is known as the "Crow Castle" because of its stunning black exterior. It's one of Japan's oldest and most important historic castles, and as such, it is considered a National Treasure.

                    These are just a few examples of why traveling to Japan, and basking in this incredible culture, is a transformative and meaningful experience.</p>
                <a href="/news" class="blog-post__cta">Back</a>
            </div>
        </div>   
 
        <script>  </script>
    </body>
</html>
